modules = ["ruby", "ruby-3.1"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "RealtyMonsterApp"

[[workflows.workflow]]
name = "RealtyMonsterApp"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd . && ruby simple_server.rb"
waitForPort = 5000

[deployment]
run = ["sh", "-c", "cd . && ruby simple_server.rb"]

[[ports]]
localPort = 5000
externalPort = 80
