modules = ["ruby", "ruby-3.1"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "RealtyMonsterApp"

[[workflows.workflow]]
name = "RealtyMonsterApp"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd . && bundle install && bundle exec ruby app.rb -p 5000 -o 0.0.0.0"
waitForPort = 5000

[deployment]
run = ["sh", "-c", "cd . && bundle install && bundle exec ruby app.rb -p 5000 -o 0.0.0.0"]
